.badge{ padding-bottom: 0.08em; }
.question-paper-title{ font-size: 1.5rem; }
.question-paper-info h5{ margin-right: 1rem; margin-bottom: 0; }
.select2-container--bootstrap4 .select2-selection--multiple .select2-search--inline .select2-search__field{ min-width: 10em; }
.results-table td:first-child, .results-table th:first-child{ max-width: 280px; }
.single-result-table{ overflow-y: scroll; }
.results-table td:nth-child(4), .results-table th:nth-child(4),
.single-result-table td:nth-child(4),
.single-result-table th:nth-child(4){
    min-width: 115px;
}
.single-result-table th:nth-child(5),
.single-result-table th:nth-child(5){
    max-width: 80px;
}

.single-result-table td:first-child, .results-table th:first-child{ min-width: 220px; }
.single-result-page .card-body{ overflow-y: auto; }
.single-result-table th:nth-child(n+6),
.single-result-table th:nth-child(n+6){
    text-align: center;
}
.question-paper-info .list-inline-item:not(:last-child){
    margin-right: 0;
}
.question-paper-info ul li:not(:first-child)::before{
    content: ",";
    margin-right: 5px;
}


.bd-callout {
    padding: 1.25rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    border: 1px solid #eee;
    border-left-width: .25rem;
    border-radius: .25rem;
    color: #495057!important;
}

.bd-callout h4 {
    margin-top: 0;
    margin-bottom: .25rem;
}

.bd-callout p:last-child {
    margin-bottom: 0;
}

.bd-callout + .bd-callout {
    margin-top: -.25rem;
}



.bd-callout-primary { border-left-color: #3f80ea!important; }
.bd-callout-warning { border-left-color: #e5a54b!important; }
.bd-callout-danger { border-left-color: #d9534f!important; }


@media (max-width: 767.98px) {
    .question-paper-info ul li:not(:first-child)::before {
        content: "";
        margin-right: 5px;
    }
}

.mcq-set .question-mcq-individual>div,
.writing-set .question-fib-individual>div {
    max-width: 75%;
}

.full-featured-non-premium {
    padding: 5px 12px;
}





/*Styles For TinyMCE*/

/* For other boilerplate styles, see: /docs/general-configuration-guide/boilerplate-content-css/ */
/*
* For rendering images inserted using the image plugin.
* Includes image captions using the HTML5 figure element.
*/

figure.image {
    display: inline-block;
    border: 1px solid gray;
    margin: 0 2px 0 1px;
    background: #f5f2f0;
}

figure.align-left {
    float: left;
}

figure.align-right {
    float: right;
}

figure.image img {
    margin: 8px 8px 0 8px;
}

figure.image figcaption {
    margin: 6px 8px 6px 8px;
    text-align: center;
}

/*
 Alignment using classes rather than inline styles
 check out the "formats" option
*/

img.align-left {
    float: left;
}

img.align-right {
    float: right;
}

/* Basic styles for Table of Contents plugin (toc) */
.mce-toc {
    border: 1px solid gray;
}

.mce-toc h2 {
    margin: 4px;
}

.mce-toc li {
    list-style-type: none;
}


.tox .tox-notifications-container{
    display: none!important;
}
